body {
  background-color: #ffeedd;
}

#p-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.posts {
  margin: 10px;
  display: flex;
  background-color: rgb(231, 229, 229);
  border-radius: 20px;
  box-shadow: 1px 1px 7px gray;
  width: 40%;
}

.posts:hover {
  box-shadow: 2px 5px 20px gray;
}

.author {
  display: flex;
  align-items: center;
  background-color: white;
  text-align: center center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.p-title {
  color: gray;
  font-size: larger;
  margin: 0;
  margin-bottom: 10px;
}
.fa {
  color: rgb(101, 99, 99);
  font-size: larger;
}
.fa-trash:hover {
  cursor: pointer;
}
.fa-ellipsis-h{
  float: right;
  cursor: pointer;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cnt {
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.cnt-p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}


#modal-t {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.76);
}
#modal-cnt4 {
  background-color: #fefefe;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  font-size: large;
}
#btn {
  display: flex;
  justify-content: space-between;
}
#yes {
  background-color: green;
  color: white;
  width: 60px;
  border: none;
}
#no {
  background-color: red;
  color: white;
  width: 60px;
  padding: 6px;
  border: none;
}
